.form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 5rem;
}


.inputs > input {
    width: 100%;
}


.inputs > label {
    font-size: 2rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.submitBtn {
   margin-top: 3rem;
    align-self: flex-end;
}




