.operations{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    height: 10rem;
    padding: 0 10rem;

    @media screen and (max-width: 700px) {
        gap: 2rem;
        padding: 0;
    }
}

.blogOperations{
    display: flex;
    align-items: center;
    
    gap: 5rem;

    @media screen and (max-width: 1100px) {
        gap: 2rem;
    }
}

.countrySelect{
    height: 4rem;
    width: 20rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid var(--color-darken);
    transition: all .6s;
    padding: .5rem .6rem .5rem .6rem;
    &:focus {
        border: none;
        outline: 1px solid var(--color-darken);
    }
}

.buttonText{
    @media screen and (max-width: 1100px) {
        display: none;
    }
}