.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-darkest);
    height: 7rem;
    padding: 0 5rem 0 5rem;
    color: white;
}
