.username {
    position: relative;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;

    &:hover{
        cursor: pointer;
        color: var(--color-darken);
    }

    @media screen and (max-width: 700px) {
        display: none;
    }
}

.username > a {
    color: white;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        color: var(--color-darken);
    }
}

